Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

added grantType property
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

updated generated-types
  packages/destination-actions/src/destinations/loops/sendEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated mappings
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/pinterset-capi-user-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.278.0-staging-207ba4980
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated mappings and test
  packages/destination-actions/src/destinations/pinterest-conversions/pinterset-capi-user-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.278.0-staging-3b6f8a191
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated yarn
  yarn.lock
Owners: none

added defaults for customer field in saveEvent
  packages/destination-actions/src/destinations/angler-ai/fields/customer.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated test snapshots
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/__snapshots__/index.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated test
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.278.0-staging-bd4b8201d
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated Size limit to 163 browser destination
  packages/browser-destinations/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

test commit
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

refactor fields
  packages/destination-actions/src/destinations/angler-ai/fields/addressFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/cartFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/checkoutFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/commonFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/customerFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/index.ts
  packages/destination-actions/src/destinations/angler-ai/fields/productFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/productsFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/userFields.ts
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

feat: Updating the actions-core package.
  packages/destination-actions/package.json
  yarn.lock
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add platform name
  packages/destination-actions/src/destinations/moloco-rmp/__tests__/convert.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/addToCart/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/addToWishlist/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/common/request-client.ts
  packages/destination-actions/src/destinations/moloco-rmp/common/settings.ts
  packages/destination-actions/src/destinations/moloco-rmp/generated-types.ts
  packages/destination-actions/src/destinations/moloco-rmp/home/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/index.ts
  packages/destination-actions/src/destinations/moloco-rmp/itemPageView/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/land/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/pageView/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/purchase/__tests__/index.test.ts
  packages/destination-actions/src/destinations/moloco-rmp/search/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

added subfolder functionality
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/generated-types.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

refactor
  packages/destination-actions/src/destinations/dynamic-yield-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

another update
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

First commit.
  packages/destination-actions/src/destinations/campaign-manager-360/__tests__/index.test.ts
  packages/destination-actions/src/destinations/campaign-manager-360/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/campaign-manager-360/conversionUpload/__tests__/index.test.ts
  packages/destination-actions/src/destinations/campaign-manager-360/conversionUpload/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/campaign-manager-360/conversionUpload/generated-types.ts
  packages/destination-actions/src/destinations/campaign-manager-360/conversionUpload/index.ts
  packages/destination-actions/src/destinations/campaign-manager-360/generated-types.ts
  packages/destination-actions/src/destinations/campaign-manager-360/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix: remove use of polyfill.io
  packages/browser-destinations/destinations/commandbar/src/init-script.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Dy changes (#2115)
  packages/destination-actions/src/destinations/dynamic-yield-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

[STRATCONN-3874]: Allowing Pinterest Actions to add additional fields (#2108)
  packages/destination-actions/src/destinations/pinterest-conversions/pinterset-capi-user-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

adding additional details to errors
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/taboola-actions/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix lint issue dynamic yield
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Dynamic Yield - updating generate:types to new publish can happen
  packages/destination-actions/src/destinations/dynamic-yield-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

injects matchingKey in the perform block
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

WIP
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

feat: Creating a canary script so that publishing canary versions of the action-destination project is easier.
  package.json
  scripts/canary.sh
Owners: none

feat: Creating a canary script so that publishing canary versions of the action-destination project is easier.
  package.json
  scripts/canary.sh
Owners: none

chore: Sorting scripts alphabetically.
  package.json
Owners: none

Taboola and Dynamic Yield createAudience fix
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
  packages/destination-actions/src/destinations/taboola-actions/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Taboola and Dynamic Yield createAudience fix
  packages/destination-actions/src/destinations/taboola-actions/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update delete object
  packages/destination-actions/src/destinations/customerio/__tests__/deleteObject.test.ts
  packages/destination-actions/src/destinations/customerio/deleteObject/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updating Dynamic Yield with new hash function
  packages/destination-actions/src/destinations/dynamic-yield-audiences/helpers.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removing various commented code and cleanup for PR
  packages/destination-actions/src/destinations/aws-s3/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team
