Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

add pixel identity unit test
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/__tests__/index.test.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

.
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/__tests__/index.test.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

[Release Notes] Escape markdown special characters
  scripts/github-action/create-github-release.js
Owners: none

Bump checkout and setup node to v4
  .github/workflows/ci.yml
  .github/workflows/ext.yml
  .github/workflows/publish.yml
Owners: none

add some comments
  scripts/github-action/create-github-release.js
Owners: none

bump lerna to latest 6.x.x version
  package.json
  yarn.lock
Owners: none

Feature(IDE-2258): Perform and perform batch functions for Segment audience destination
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing a few tests
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/__tests__/index.test.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

readme change
  packages/destination-actions/README.md
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing auth for taboola
  packages/destination-actions/src/destinations/taboola-actions/index.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

audience Action
  packages/destination-actions/src/destinations/courier/audienceToList/generated-types.ts
  packages/destination-actions/src/destinations/courier/audienceToList/index.ts
  packages/destination-actions/src/destinations/courier/postToCourier/generated-types.ts
  packages/destination-actions/src/destinations/courier/postToCourier/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing test
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing test for identify Action
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/__tests__/index.test.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add additionalProperties
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/pinterset-capi-user-data.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated depends on conditions for salesforce actions
  packages/destination-actions/src/destinations/salesforce/contact/index.ts
  packages/destination-actions/src/destinations/salesforce/lead/index.ts
  packages/destination-actions/src/destinations/salesforce/opportunity/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Support for dynamic objects (#2106)
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

applying getDomain
  packages/destination-actions/src/destinations/courier/postToCourier/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

adding test for audienceToList
  packages/destination-actions/src/destinations/courier/audienceToList/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing engage typo
  packages/destination-actions/src/destinations/courier/postToCourier/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Added depends on for cases action in salesforce
  packages/destination-actions/src/destinations/salesforce/cases/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add genrated types
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Validate audience Fields input
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

fixed unit test cases for createaudience
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Added personas in yahoo-audiences
  packages/core/src/destination-kit/types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/generated-types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Dummy commit
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Dummy COmmit
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.115.0-staging-8c0150649
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.115.0-staging-f2f339cfc
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.278.0-staging-8c0150649
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.278.0-staging-f2f339cfc
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Dummy commit
  packages/destination-actions/src/destinations/klaviyo/properties.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.115.0-staging-10851e1ba
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.278.0-staging-10851e1ba
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

commented code
  packages/destination-actions/src/destinations/yahoo-audiences/generated-types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add yarn
  yarn.lock
Owners: none

v3.115.0-staging-9610615de
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

updated audienceFields input
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/generated-types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

update pkg versions
  packages/core/package.json
  packages/destination-actions/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.115.0-staging-b6f276337
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

build issue
  packages/destination-actions/src/destinations/yahoo-audiences/generated-types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team
