Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

[Segment Profiles] fix consent object in sendIdentify action (#2097)
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add return type
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.276.0-staging-08a90d944
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update packages/destination-actions/src/destinations/loops/sendEvent/index.ts
  packages/destination-actions/src/destinations/loops/sendEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update packages/destination-actions/src/destinations/loops/sendEvent/index.ts
  packages/destination-actions/src/destinations/loops/sendEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

PoC for direct builder defined JSON Schema with working unit test
  packages/core/src/__tests__/schema-validation.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/fields-to-jsonschema.ts
  packages/core/src/destination-kit/types.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Adds more unit tests
  packages/core/src/__tests__/schema-validation.test.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Renames definition.validSchema to definition.groupConditions and restricts them to anyOf, allOf, oneOf which are all a list of fieldKeys
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/fields-to-jsonschema.ts
  packages/destination-actions/src/destinations/braze/trackPurchase/index.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

WIP - implementation of DependsOnConditions conversion to JsonSchema
  packages/core/src/destination-kit/fields-to-jsonschema.ts
  packages/destination-actions/src/destinations/salesforce/lead/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Validate audience Fields input
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

updated conditions for depends_on fields
  packages/destination-actions/src/destinations/salesforce/account/index.ts
  packages/destination-actions/src/destinations/salesforce/contact/index.ts
  packages/destination-actions/src/destinations/salesforce/lead/index.ts
  packages/destination-actions/src/destinations/salesforce/opportunity/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixed unit test cases for createaudience
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

fix: Fixing type issue.
  packages/core/src/destination-kit/action.ts
  yarn.lock
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

chore: Updating the core version.
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Adjust descriptions
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add unit tests
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fixed Hubspot Action destination reauthorisation issue for eventName
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.115.0-staging-8f30a1677
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.276.0-staging-8f30a1677
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

feat: added multi-region support
  packages/destination-actions/src/destinations/contentstack/constants.ts
  packages/destination-actions/src/destinations/contentstack/customAttributesSync/index.ts
  packages/destination-actions/src/destinations/contentstack/generated-types.ts
  packages/destination-actions/src/destinations/contentstack/index.ts
  packages/destination-actions/src/destinations/contentstack/types.ts
  packages/destination-actions/src/destinations/contentstack/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

specify batch_size for google sheets
  packages/destination-actions/src/destinations/google-sheets-dev/postSheet.types.ts
  packages/destination-actions/src/destinations/google-sheets/postSheet/generated-types.ts
  packages/destination-actions/src/destinations/google-sheets/postSheet/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

HubSpot Actions | OAuth Token Validity Issue
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

added datadog metrics in oauth supported destinations
  packages/destination-actions/src/destinations/actions-pardot/pa-operations.ts
  packages/destination-actions/src/destinations/actions-pardot/prospects/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/postConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment/index.ts
  packages/destination-actions/src/destinations/google-sheets/postSheet/index.ts
  packages/destination-actions/src/destinations/google-sheets/postSheet/operations.ts
  packages/destination-actions/src/destinations/hubspot/api/index.ts
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/index.ts
  packages/destination-actions/src/destinations/hubspot/upsertCompany/index.ts
  packages/destination-actions/src/destinations/hubspot/upsertContact/index.ts
  packages/destination-actions/src/destinations/intercom/groupIdentifyContact/index.ts
  packages/destination-actions/src/destinations/intercom/identifyContact/index.ts
  packages/destination-actions/src/destinations/intercom/trackEvent/index.ts
  packages/destination-actions/src/destinations/intercom/util.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/apiEvent/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contact/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contactDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/dataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
  packages/destination-actions/src/destinations/salesforce/account/index.ts
  packages/destination-actions/src/destinations/salesforce/cases/index.ts
  packages/destination-actions/src/destinations/salesforce/contact/index.ts
  packages/destination-actions/src/destinations/salesforce/customObject/index.ts
  packages/destination-actions/src/destinations/salesforce/lead/index.ts
  packages/destination-actions/src/destinations/salesforce/opportunity/index.ts
  packages/destination-actions/src/destinations/salesforce/sf-operations.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update endpoint name
  packages/destination-actions/src/destinations/google-enhanced-conversions/postConversion/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

nit
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated depends on condition for delete operation in salesforce actions
  packages/destination-actions/src/destinations/salesforce/account/index.ts
  packages/destination-actions/src/destinations/salesforce/sf-properties.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Addded Datadog matrix for amazon-amc
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
  packages/destination-actions/src/destinations/hubspot/upsertCustomObjectRecord/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

feat: Added Audience sync feature.
  packages/destination-actions/src/destinations/contentstack/customAttributesSync/index.ts
  packages/destination-actions/src/destinations/contentstack/customAttributesSync/types.ts
  packages/destination-actions/src/destinations/contentstack/customAttributesSync/utils.ts
  packages/destination-actions/src/destinations/contentstack/generated-types.ts
  packages/destination-actions/src/destinations/contentstack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update README.md
  packages/ajv-human-errors/README.md
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

update pixel destination
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/index.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

remove instance method from pixel
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/index.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Squashed commit of the following:
  packages/browser-destinations/destinations/google-campaign-manager/package.json
  packages/browser-destinations/destinations/google-campaign-manager/src/index.ts
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-sheets-dev/postSheet.types.ts
  packages/destination-actions/src/destinations/google-sheets/postSheet/generated-types.ts
  packages/destination-actions/src/destinations/google-sheets/postSheet/index.ts
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destinations-manifest/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

tested
  packages/browser-destinations/destinations/tiktok-pixel/src/common_fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/formatter.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/generated-types.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/index.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/generated-types.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/index.ts
  packages/destination-actions/src/destinations/tiktok-conversions/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-conversions/formatter.ts
  packages/destination-actions/src/destinations/tiktok-conversions/reportWebEvent/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-conversions/utils.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

add support for dynamic objects
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

revert core version
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

chore: updated the UI texts and some code refactoring.
  packages/destination-actions/src/destinations/contentstack/constants.ts
  packages/destination-actions/src/destinations/contentstack/customAttributesSync/index.ts
  packages/destination-actions/src/destinations/contentstack/customAttributesSync/utils.ts
  packages/destination-actions/src/destinations/contentstack/generated-types.ts
  packages/destination-actions/src/destinations/contentstack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.281.0
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.115.0-staging-9c7763f66
  packages/core/package.json
  yarn.lock
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.278.0-staging-9c7763f66
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team
