Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

v1.98.0-staging-50e2b5698
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.284.0-staging-50e2b5698
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

adding logging
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing index.ts and operations.ts errors
  packages/destination-actions/src/destinations/aws-s3/operations.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updating s3 with unit test failure fixes
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix: remove use of polyfill.io (#2118)
  packages/browser-destinations/destinations/commandbar/src/init-script.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Set platformName optional, and use platformId as a default value
  packages/destination-actions/src/destinations/moloco-rmp/common/request-client.ts
  packages/destination-actions/src/destinations/moloco-rmp/generated-types.ts
  packages/destination-actions/src/destinations/moloco-rmp/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

moved event name field from common fields
  packages/destination-actions/src/destinations/angler-ai/fields/commonFields.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixed field name
  packages/destination-actions/src/destinations/angler-ai/fields/checkoutFields.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

revising all changes, tested to make sure they work
  packages/destination-actions/src/destinations/aws-s3/operations.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

defining interface for credentials
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Register First Party DV360
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing undefined unit tests
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update default mappings for order id and product id
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update return statement
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update default subscription
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix default subscription
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update description
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update description of product and properties field
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update snapshot tests
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update snapshot
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

merge klaviyo-order-complete-fix into staging
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.284.0-staging-b75971ce8
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update yarn.lock
  yarn.lock
Owners: none

[STRATCONN-3905] [OrderComplete] Add features to bring parity with klaviyo classic (#2121)
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/formatter.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updates linkedin CAPI to normalize user emails by setting them to lowercase before hashing (#2113)
  packages/destination-actions/src/destinations/linkedin-conversions/api/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/snapshot.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

[STRATCONN-3832] Validate Audience Field inputs while creating Audience (#2100)
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Added conditional fields on role based field (#2085)
  packages/destination-actions/src/destinations/intercom/identifyContact/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fixed issue of update settings in createAudience and getAudience
  packages/core/src/destination-kit/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

update index.ts with destination id
  packages/destination-actions/src/destinations/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.116.0-staging-1052bbbd9
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Improve flexibility of dynamic objects (#2122)
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

bootstrap a dummy action to make validate pass
  packages/destination-actions/src/destinations/first-party-dv360/addToList/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToList/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add action description
  packages/destination-actions/src/destinations/first-party-dv360/addToList/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Register First Party DV360 (#2125)
  packages/destination-actions/src/destinations/first-party-dv360/addToList/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToList/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Use from-package workflow instead of from-git
  .github/workflows/publish.yml
Owners: none

channels-1094-canary (#2120)
  package.json
  scripts/canary.sh
Owners: none

Comment out the release script
  .github/workflows/publish.yml
Owners: none

Added mailing lists support
  packages/destination-actions/src/destinations/loops/createOrUpdateContact/generated-types.ts
  packages/destination-actions/src/destinations/loops/createOrUpdateContact/index.ts
  packages/destination-actions/src/destinations/loops/sendEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing folderName undefined value
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team
