Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

removed concatination for hashedInformation
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Worked on fixing the refresh access token issue and made currency dropdown
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/generated-types.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fix test
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fix test
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Worked on fixing the refresh access token issue and made currency dropdown (#2079)
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/generated-types.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/browser-destinations/destinations/stackadapt/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fix test
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix: Fixing construction of the EngageActionPerformer.
  packages/destination-actions/src/destinations/engage/utils/EngageActionPerformer.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add consent to all event types
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/subscription-properties.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add consent to all event types
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/subscription-properties.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.269.0-staging-3c4124ddc
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update package.json
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.269.0-staging-5faf5ebbe
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix: Attempt to update type issue.
  packages/destination-actions/package.json
  yarn.lock
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

applied depends_on value on enableConsentMode field
  packages/browser-destinations/destinations/google-campaign-manager/src/index.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

added depends_on conditions on salesforce actions
  packages/destination-actions/src/destinations/salesforce/account/index.ts
  packages/destination-actions/src/destinations/salesforce/contact/index.ts
  packages/destination-actions/src/destinations/salesforce/lead/index.ts
  packages/destination-actions/src/destinations/salesforce/opportunity/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update defaults
  packages/destination-actions/src/destinations/klaviyo/properties.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update default for properties
  packages/destination-actions/src/destinations/klaviyo/properties.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

increase actions-iterable request timeout to 30s
  packages/destination-actions/src/destinations/iterable/trackEvent/index.ts
  packages/destination-actions/src/destinations/iterable/trackPurchase/index.ts
  packages/destination-actions/src/destinations/iterable/updateCart/index.ts
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update profile identifiers for track and order completed events.
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
  packages/destination-actions/src/destinations/klaviyo/types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update snapshot
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.113.0-staging-bbcb77c81
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.272.0-staging-bbcb77c81
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

more updates
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/index.ts
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

disabling iam until it is fixed
  packages/destination-actions/src/destinations/kafka/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fix profile properties
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Squash commit
  packages/core/package.json
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
  packages/destination-actions/src/destinations/klaviyo/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.113.0-staging-92b59ded7
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.272.0-staging-92b59ded7
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Squash commit
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.272.0-staging-6ba0696ee
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update snapshots
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/trackEvent/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Worked on fixing the refresh access token issue
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.272.0-staging-f82b631e4
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fix exports
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.272.0-staging-1ca7b7377
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update types
  packages/destination-actions/src/destinations/klaviyo/types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Remove (Actions) from StackAdapt destination names (#2076)
  packages/browser-destinations/destinations/stackadapt/src/index.ts
  packages/destination-actions/src/destinations/stackadapt/index.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Added depends_on field on enableConsentMode of GA4-web (#2068)
  packages/browser-destinations/destinations/google-analytics-4-web/src/index.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Added conditional fields for Blackbaud Raiser's Edge NXT
  packages/destination-actions/src/destinations/blackbaud-raisers-edge-nxt/createGift/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team
