Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

refactor release.sh
  .github/workflows/version-packages.yml
  scripts/release.sh
Owners: none

set pr url to output
  .github/workflows/version-packages.yml
Owners: none

update kitchen sink
  packages/destination-actions/src/destinations/mappings-two-test/kitchenSink/generated-types.ts
  packages/destination-actions/src/destinations/mappings-two-test/kitchenSink/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.287.0-staging-525a63938
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

remove temp
  packages/destination-actions/src/destinations/mappings-two-test/sendEvent/tmp.js
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.287.0-staging-d3ef02304
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Test github output
  .github/workflows/version-packages.yml
Owners: none

mappings two test
  packages/destination-actions/src/destinations/index.ts
  packages/destination-actions/src/destinations/mappings-two-test/generated-types.ts
  packages/destination-actions/src/destinations/mappings-two-test/index.ts
  packages/destination-actions/src/destinations/mappings-two-test/kitchenSink/generated-types.ts
  packages/destination-actions/src/destinations/mappings-two-test/kitchenSink/index.ts
  packages/destination-actions/src/destinations/mappings-two-test/sendEvent/generated-types.ts
  packages/destination-actions/src/destinations/mappings-two-test/sendEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.121.0-staging-437f9f88e
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v1.102.0-staging-437f9f88e
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.288.0-staging-437f9f88e
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

First implementation + unit tests.
  packages/core/src/destination-kit/types.ts
  packages/destination-actions/src/destinations/adjust/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/adjust/functions.ts
  packages/destination-actions/src/destinations/adjust/generated-types.ts
  packages/destination-actions/src/destinations/adjust/index.ts
  packages/destination-actions/src/destinations/adjust/sendEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/adjust/sendEvent/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/adjust/sendEvent/generated-types.ts
  packages/destination-actions/src/destinations/adjust/sendEvent/index.ts
  packages/destination-actions/src/destinations/adjust/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

adding snakeCase to listId
  packages/destination-actions/src/destinations/courier/audienceToList/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

adding snakeCase to listId
  packages/destination-actions/src/destinations/courier/audienceToList/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

SD-107645 | Products ingesting incorrectly
  packages/destination-actions/src/destinations/insider/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/cartViewedEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/checkoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/insider-helpers.ts
  packages/destination-actions/src/destinations/insider/orderCompletedEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/trackEvent/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

SD-107645 | Products ingesting incorrectly
  packages/destination-actions/src/destinations/insider/insider-helpers.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

revert release.sh
  .github/workflows/version-packages.yml
  scripts/release.sh
Owners: none

Revert unwanted changes
  .github/workflows/publish.yml
  package.json
Owners: none

Restore gh pat token change
  .github/workflows/publish.yml
Owners: none

updated tests
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveUser/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Introduce new release flow - Part 1 (#2143)
  .github/workflows/publish.yml
  .github/workflows/version-packages.yml
  scripts/generate-release-tags.sh
  scripts/release.sh
Owners: none

Added delivr AI actiavte Audienc segment
  packages/cli/src/lib/server.ts
  packages/destination-actions/src/destinations/delivrai-activate/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/delivrai-activate/__tests__/audienceEnteredSftp.test.ts
  packages/destination-actions/src/destinations/delivrai-activate/__tests__/index.test.ts
  packages/destination-actions/src/destinations/delivrai-activate/__tests__/operations.test.ts
  packages/destination-actions/src/destinations/delivrai-activate/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/delivrai-activate/audienceEnteredS3/generated-types.ts
  packages/destination-actions/src/destinations/delivrai-activate/audienceEnteredS3/index.ts
  packages/destination-actions/src/destinations/delivrai-activate/audienceEnteredS3/s3.ts
  packages/destination-actions/src/destinations/delivrai-activate/audienceEnteredSftp/generated-types.ts
  packages/destination-actions/src/destinations/delivrai-activate/audienceEnteredSftp/index.ts
  packages/destination-actions/src/destinations/delivrai-activate/audienceEnteredSftp/sftp.ts
  packages/destination-actions/src/destinations/delivrai-activate/awsClient.ts
  packages/destination-actions/src/destinations/delivrai-activate/constants.ts
  packages/destination-actions/src/destinations/delivrai-activate/generated-types.ts
  packages/destination-actions/src/destinations/delivrai-activate/index.ts
  packages/destination-actions/src/destinations/delivrai-activate/operations.ts
  packages/destination-actions/src/destinations/delivrai-activate/properties.ts
  packages/destination-actions/src/destinations/delivrai-activate/types.ts
  packages/destination-actions/src/destinations/delivrai-activate/updateSegment/__tests__/index.test.ts
  packages/destination-actions/src/destinations/delivrai-activate/updateSegment/generated-types.ts
  packages/destination-actions/src/destinations/delivrai-activate/updateSegment/index.ts
  packages/destination-actions/src/destinations/delivrai-activate/utils-rt.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Added delivr AI actiavte Audienc segment
  packages/cli/src/lib/server.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

feat: Implementing a more simple serialization than JSON as to not block the JavaScript event loop for as long.
  packages/actions-shared/src/engage/utils/CachedResponse.ts
  packages/actions-shared/src/engage/utils/MessageSendPerformer.ts
  packages/actions-shared/src/engage/utils/__tests__/CachedResponse.test.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

minor changes to presets
  packages/destination-actions/src/destinations/angler-ai/presets.ts
  packages/destination-actions/src/destinations/angler-ai/saveOrder/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

feat: Adding an info message that tracks if the cache was able to find values.
  packages/actions-shared/src/engage/utils/MessageSendPerformer.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

fix: Fixing a type issue with the MessageSendPerformer and the SendEmailPerformer.
  packages/actions-shared/src/engage/utils/MessageSendPerformer.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/SendEmailPerformer.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

feat: Updating yarn file.
  yarn.lock
Owners: none

fixed the mapping
  packages/destination-actions/src/destinations/customerio/createUpdateObject/index.ts
  packages/destination-actions/src/destinations/customerio/createUpdatePerson/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Not using `rawData` in the type. That breaks the build.
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Just not checking `data` for a `rawData` property.
  packages/destination-actions/src/destinations/adjust/sendEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Fix type
  packages/destination-actions/src/destinations/loops/createOrUpdateContact/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

run file count check after add
  .github/workflows/version-packages.yml
Owners: none

[MAIN] [STRATCONN] added depends_on conditions on salesforce actions (#2081)
  packages/destination-actions/src/destinations/salesforce/account/index.ts
  packages/destination-actions/src/destinations/salesforce/cases/index.ts
  packages/destination-actions/src/destinations/salesforce/contact/index.ts
  packages/destination-actions/src/destinations/salesforce/lead/index.ts
  packages/destination-actions/src/destinations/salesforce/opportunity/index.ts
  packages/destination-actions/src/destinations/salesforce/sf-properties.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add unique_id
  .github/workflows/version-packages.yml
Owners: none

Feature(IDE-2305): Implement onDelete handler
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

hide deprecated postConversion action (#2132)
  packages/destination-actions/src/destinations/google-enhanced-conversions/postConversion/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update AppFit destination with new structure (#2124)
  packages/destination-actions/src/destinations/app-fit/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/app-fit/track/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/app-fit/track/__tests__/index.test.ts
  packages/destination-actions/src/destinations/app-fit/track/generated-types.ts
  packages/destination-actions/src/destinations/app-fit/track/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

more updates to workflow
  .github/workflows/version-packages.yml
Owners: none

SD-107645 | Products ingesting incorrectly
  packages/destination-actions/src/destinations/insider/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/cartViewedEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/checkoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/insider-helpers.ts
  packages/destination-actions/src/destinations/insider/orderCompletedEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/insider/trackEvent/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team
