Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

refactor event fields
  packages/destination-actions/src/destinations/angler-ai/fields/cartLineFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/checkoutFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/collectionFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/commonFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/customerFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/formFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/productVariantFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/searchFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/userFields.ts
  packages/destination-actions/src/destinations/angler-ai/presets.ts
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

trying to fix undefined
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated generated types
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveOrder/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated tests
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveOrder/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removing logging
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

refactor
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

making some fields visible
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Dynamic Yield Destination - fix audience Id (#2123)
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updating to point to personas object
  packages/destination-actions/src/destinations/dynamic-yield-audiences/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

non null assertation block added
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Revert "[STRATCONN-3832] Validate Audience Field inputs while creating Audien…"
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Revert "[STRATCONN-3832] Validate Audience Field inputs while creating Audien…" (#2129)
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Fix tests
  packages/destination-actions/src/destinations/loops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/loops/createOrUpdateContact/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

upating taboola field
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Create and get audience functions
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

upating taboola field (#2130)
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

empty commit
  packages/destination-actions/README.md
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

hide deprecated postConversion action
  packages/destination-actions/src/destinations/google-enhanced-conversions/postConversion/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updating yarn.lock to that of master branch
  yarn.lock
Owners: none

adding arrayeditor option
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

update description
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

feat(code): add uploadCsv test; update yarn.lock
  packages/destination-actions/src/destinations/aws-s3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
  yarn.lock
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

cleaning up comments
  packages/destination-actions/src/destinations/aws-s3/operations.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add array editor option for defaultObjectUI (#2133)
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

adding code for test destination
  packages/destination-actions/src/destinations/index.ts
  packages/destination-actions/src/destinations/mappings-two-test/generated-types.ts
  packages/destination-actions/src/destinations/mappings-two-test/index.ts
  packages/destination-actions/src/destinations/mappings-two-test/sendEvent/generated-types.ts
  packages/destination-actions/src/destinations/mappings-two-test/sendEvent/index.ts
  packages/destination-actions/src/destinations/mappings-two-test/sendEvent/tmp.js
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.120.0-staging-899be5944
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v1.101.0-staging-899be5944
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.287.0-staging-899be5944
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removing console log in performBatch
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixed checkout fields
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/fields/checkoutFields.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated payload transformation functions
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/transform-payload.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCart.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCartLine.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCheckout.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCollection.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCommonFields.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCustomer.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformForm.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformProductVariant.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformSearch.ts
  packages/destination-actions/src/destinations/angler-ai/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removed custom event preset
  packages/destination-actions/src/destinations/angler-ai/presets.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixed identifiers transformation
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCommonFields.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated tests
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

resolved conflicts
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Worked on reauthentication flow for createAudience and getAudience
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

removed comments
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-787f2db99
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.284.0-staging-787f2db99
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

wrapped cart and checkout fields into objects
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/fields/cartFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/checkoutFields.ts
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCart.ts
  packages/destination-actions/src/destinations/angler-ai/transformFields/transformCheckout.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team
