Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

Taboola refreshToken fix
  packages/destination-actions/src/destinations/taboola-actions/index.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

added comments
  packages/destination-actions/src/destinations/customerio/createUpdateObject/index.ts
  packages/destination-actions/src/destinations/customerio/createUpdatePerson/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

cleaning up operation file and removing snapshot.test.ts
  packages/destination-actions/src/destinations/aws-s3/operations.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/__tests__/snapshot.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

feat: Updating test utilities to be easier to use.
  packages/core/src/create-test-integration.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/__helpers__/test-utils.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

fix: Adding engageDestinationCache that won't break the test.
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-sms.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

nudge package size limit
  packages/browser-destinations/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

consistent naming for fields variables
  packages/destination-actions/src/destinations/angler-ai/fields/cartFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/checkoutFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/commonFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/customerFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/productFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/productsFields.ts
  packages/destination-actions/src/destinations/angler-ai/fields/userFields.ts
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveOrder/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removed cartFields from saveCartEvent
  packages/destination-actions/src/destinations/angler-ai/fields/commonFields.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removed less important saveOrder fields
  packages/destination-actions/src/destinations/angler-ai/saveOrder/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

WIP
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Reformat order completed and ordered product events
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated event names
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix: Updating the max bundle size.
  packages/browser-destinations/webpack.config.js
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

feat: Increasing the size limit.
  packages/browser-destinations/package.json
  packages/browser-destinations/webpack.config.js
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

refactor and add more tests
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/formatter.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fix: Updating broken test.
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/__tests__/apiLookups.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

change unique_id logic
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/formatter.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add description
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

remove identifier fields check
  packages/core/src/destination-kit/action.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

support for more complex dynamic objects
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

tests
  packages/core/src/__tests__/destination-kit.test.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

[DC-792] injects matchingKey in the perform block (#2119)
  packages/browser-destinations/package.json
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

minor cleanup
  packages/core/src/destination-kit/action.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

update yarn.lock
  yarn.lock
Owners: none

update yarn.lock
  yarn.lock
Owners: none

fix build
  packages/destination-actions/src/destinations/klaviyo/functions.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v1.98.0-staging-a0e9309e3
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-a0e9309e3
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.279.0-staging-a0e9309e3
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v1.98.0-staging-5d39e289e
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-5d39e289e
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.279.0-staging-5d39e289e
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

merge klaviyo-order-complete-fix into stage
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/formatter.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

resolved conflicts
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-8af62332f
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.284.0-staging-8af62332f
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Made Some changes in test case to test amazon amc for reuthentication flow
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Set actions-shared to same version of actions-core as destination-actions
  packages/actions-shared/package.json
  yarn.lock
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-50e2b5698
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team
