Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

fixing trycatch wrapper and removing data const
  packages/destination-actions/src/destinations/aws-s3/operations.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing test failures
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing error message
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removing console.log
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Revert "[STRATCONN-3905] [OrderComplete] Add features to bring parity with klaviyo classic (#2121)"
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/formatter.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Revert "Add features to bring parity with klaviyo classic" (#2134)
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/formatter.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/formatters.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Removed token refresh and Stats from amazon-amc
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Removed commented and unnecessary code
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Removed options from createAudienceInput and getAUdienceInput
  packages/core/src/destination-kit/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Actions-shared and destination-actions has diff version of core
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

dummy commit
  packages/core/src/destination-kit/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-b01297528
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

bump actionshared and destination actions
  packages/actions-shared/package.json
  packages/destination-actions/package.json
  yarn.lock
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Dummy commit
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

fix package version of actions-shared
  packages/destination-actions/package.json
  yarn.lock
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v1.98.0-staging-a5b2f2566
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-a5b2f2566
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.284.0-staging-a5b2f2566
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update yarn.lock
  yarn.lock
Owners: none

remove comments
  packages/actions-shared/package.json
  packages/core/src/destination-kit/index.ts
  yarn.lock
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.116.0-staging-bc2b26058
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v1.98.0-staging-bc2b26058
  packages/actions-shared/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.284.0-staging-bc2b26058
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add new release pipeline
  .github/workflows/release.yml
Owners: none

Add new release workflow
  .github/workflows/release.yml
  scripts/release.sh
Owners: none

actions release
  .github/workflows/release.yml
Owners: none

update workflow name
  .github/workflows/release.yml
Owners: none

update critria for testing
  .github/workflows/release.yml
Owners: none

allow write
  .github/workflows/release.yml
Owners: none

Remove gh pat from checkout
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: none

WIP
  .github/VERSION_PR_TEMPLATE.md
  .github/workflows/version-packages.yml
Owners: none

let gh pr command auto create body
  .github/VERSION_PR_TEMPLATE.md
  .github/workflows/version-packages.yml
Owners: none

pass --fill param
  .github/workflows/version-packages.yml
  scripts/release.sh
Owners: none

allow release-test
  .github/workflows/version-packages.yml
Owners: none

remve yarn install
  .github/workflows/version-packages.yml
Owners: none

add kitchen sink
  packages/destination-actions/src/destinations/mappings-two-test/index.ts
  packages/destination-actions/src/destinations/mappings-two-test/kitchenSink/generated-types.ts
  packages/destination-actions/src/destinations/mappings-two-test/kitchenSink/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.287.0-staging-a398e1d79
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Introduce new release flow
  .github/workflows/publish.yml
  .github/workflows/version-packages.yml
  package.json
  scripts/generate-release-tag.sh
  scripts/release.sh
Owners: none

quick check to validate push permissios
  .github/workflows/ci.yml
Owners: none

revert changes
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  scripts/generate-release-tags.sh
Owners: none
