Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

update labels, no-op change
  packages/destination-actions/src/destinations/koala/identify/index.ts
  packages/destination-actions/src/destinations/koala/track/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

enabling button to add additional item params to product arrays
  packages/destination-actions/src/destinations/google-analytics-4/ga4-properties.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing value field to handle 0 value
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/index.ts
  packages/destination-actions/src/destinations/tiktok-conversions/utils.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/utils.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Worked on fixing the refresh access token issue
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Removed StatsContext
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updates
  packages/destination-actions/src/destinations/taboola-actions/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/taboola-actions/generated-types.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removing console log and deleting redundant validation
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

reverting validation
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

removing unnecessary tests
  packages/destination-actions/src/destinations/taboola-actions/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/taboola-actions/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/snapshot.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

disabling iam until it is fixed (#2084)
  packages/destination-actions/src/destinations/kafka/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

JLK-Added Additional Presets (#2063)
  packages/destination-actions/src/destinations/accoil-analytics/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

increase actions-iterable request timeout to 30s (#2082)
  packages/destination-actions/src/destinations/iterable/trackEvent/index.ts
  packages/destination-actions/src/destinations/iterable/trackPurchase/index.ts
  packages/destination-actions/src/destinations/iterable/updateCart/index.ts
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update labels, no-op change (#2087)
  packages/destination-actions/src/destinations/koala/identify/index.ts
  packages/destination-actions/src/destinations/koala/track/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing value field to handle 0 value (#2089)
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/index.ts
  packages/destination-actions/src/destinations/tiktok-conversions/utils.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/utils.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

[Klaviyo] Update profile identifiers for track and order completed events. (#2083)
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
  packages/destination-actions/src/destinations/klaviyo/types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

[Stratconn-3847] Add Profile Properties in Add Profile to List Event (#2078)
  packages/destination-actions/src/destinations/klaviyo/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/properties.ts
  packages/destination-actions/src/destinations/klaviyo/types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Taboola actions implementation (#2072)
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/generated-types.ts
  packages/destination-actions/src/destinations/taboola-actions/index.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Added conditional fields for Blackbaud Raiser's Edge NXT (#2086)
  packages/destination-actions/src/destinations/blackbaud-raisers-edge-nxt/createGift/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/browser-destinations/destinations/google-analytics-4-web/package.json
  packages/browser-destinations/destinations/stackadapt/package.json
  packages/browser-destinations/destinations/tiktok-pixel/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

registering taboola
  packages/destination-actions/src/destinations/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

remove defaults for optional fields
  packages/destination-actions/src/destinations/angler-ai/fields/cart.ts
  packages/destination-actions/src/destinations/angler-ai/fields/customer.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

restore address field
  packages/destination-actions/src/destinations/angler-ai/fields/address.ts
  packages/destination-actions/src/destinations/angler-ai/fields/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveOrder/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Changed environmental variable names
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

restore yarn.lock
  yarn.lock
Owners: none

v3.113.0-staging-9519a0d10
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.272.0-staging-9519a0d10
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update untranslated title default values
  packages/destination-actions/src/destinations/angler-ai/fields/product.ts
  packages/destination-actions/src/destinations/angler-ai/fields/products.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add validation for consent
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/errors.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
  packages/destination-actions/src/lib/test-data.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

rename environmental variable
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add {} if not valid consent
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add consent context
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

revert segment profiles
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

clean up segment connections
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add to segment profiles too
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

delete added test
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add consent to all event types
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/subscription-properties.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

spread ... object
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add default path
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendTrack/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

yarn install
  yarn.lock
Owners: none
