Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team

fixing auth for taboola (#2107)
  packages/destination-actions/src/destinations/taboola-actions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/index.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.115.0-staging-2b2b3c6fc
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.278.0-staging-2b2b3c6fc
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

simplify formatting
  scripts/github-action/create-github-release.js
Owners: none

Revert lerna update
  package.json
  yarn.lock
Owners: none

[Release Scripts] Fix changelog formatting and bump checkout/setup-node github action versions (#2052)
  .github/workflows/ci.yml
  .github/workflows/ext.yml
  .github/workflows/publish.yml
  scripts/github-action/create-github-release.js
Owners: none

Update pkg meta
  yarn.lock
Owners: none

STRATCONN-3719: Add retlOnMappingSave (#2043)
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update README.md (#2105)
  packages/ajv-human-errors/README.md
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

HubSpot Actions | OAuth Token Validity Issue (#2102)
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add depends on condition in revenue field (#2096)
  packages/destination-actions/src/destinations/amplitude/logPurchase/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add Event Properties to Loops Destination (#2094)
  packages/destination-actions/src/destinations/loops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/loops/sendEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/loops/sendEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/loops/sendEvent/generated-types.ts
  packages/destination-actions/src/destinations/loops/sendEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Passed personas as seperate field in createAudienceInput
  .yarnrc
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

deleted yarnrc
  .yarnrc
Owners: none

Tiktok Pixel & Web Conversions Destination for additional PII support (#2071)
  packages/browser-destinations/destinations/tiktok-pixel/src/common_fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/formatter.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/generated-types.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/index.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/index.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/init-script.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/types.ts
  packages/destination-actions/src/destinations/tiktok-conversions/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-conversions/formatter.ts
  packages/destination-actions/src/destinations/tiktok-conversions/reportWebEvent/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-conversions/utils.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Made Personas as seperate field in CreateAudienceInput
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

removed unnecessary changes
  packages/destination-actions/src/destinations/loops/sendEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixing breaking tests
  packages/destination-actions/src/destinations/courier/audienceToList/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updating comment for field
  packages/destination-actions/src/destinations/courier/postToCourier/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

generate:types
  packages/destination-actions/src/destinations/loops/sendEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

increasing web package size
  packages/browser-destinations/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Bryan/audience to list (#2077)
  packages/destination-actions/src/destinations/courier/audienceToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/courier/audienceToList/generated-types.ts
  packages/destination-actions/src/destinations/courier/audienceToList/index.ts
  packages/destination-actions/src/destinations/courier/index.ts
  packages/destination-actions/src/destinations/courier/postToCourier/generated-types.ts
  packages/destination-actions/src/destinations/courier/postToCourier/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

web max package size to 159kb
  packages/browser-destinations/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updated Actions with Mapping
  packages/destination-actions/src/destinations/customerio/createUpdateDevice/index.ts
  packages/destination-actions/src/destinations/customerio/createUpdateObject/index.ts
  packages/destination-actions/src/destinations/customerio/createUpdatePerson/index.ts
  packages/destination-actions/src/destinations/customerio/deleteDevice/index.ts
  packages/destination-actions/src/destinations/customerio/deleteRelationship/index.ts
  packages/destination-actions/src/destinations/customerio/index.ts
  packages/destination-actions/src/destinations/customerio/trackEvent/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.115.0-staging-3f5816fac
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.278.0-staging-3f5816fac
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

New Action + properties
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

initial push
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/aws-s3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-s3/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/aws-s3/generated-types.ts
  packages/destination-actions/src/destinations/aws-s3/index.ts
  packages/destination-actions/src/destinations/aws-s3/operations.ts
  packages/destination-actions/src/destinations/aws-s3/properties.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/generated-types.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/index.ts
  packages/destination-actions/src/destinations/aws-s3/uploadCsv/s3.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated the mapping
  packages/destination-actions/src/destinations/customerio/__tests__/createUpdatePerson.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/deleteObject.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/deleteRelationship.test.ts
  packages/destination-actions/src/destinations/customerio/createUpdateObject/index.ts
  packages/destination-actions/src/destinations/customerio/createUpdatePerson/index.ts
  packages/destination-actions/src/destinations/customerio/deleteDevice/index.ts
  packages/destination-actions/src/destinations/customerio/deleteObject/index.ts
  packages/destination-actions/src/destinations/customerio/deleteRelationship/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

EXTERNAL_AUDIENCE_ID to number
  packages/destination-actions/src/destinations/taboola-actions/index.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updates readme for action hooks to reflect present state of the feature
  README.md
Owners: none

Pass audience ID and audience name as specific fields
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Use global domain variable
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/functions.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Updates readme for action hooks to reflect present state of the feature (#2112)
  README.md
Owners: none

Updates linkedin CAPI to normalize user emails by setting them to lowercase before hashing
  packages/destination-actions/src/destinations/linkedin-conversions/api/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/snapshot.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

reorganized saveUser fields
  packages/destination-actions/src/destinations/angler-ai/saveUser/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated saveBaseEvent fields
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixed default_address default in saveUser
  packages/destination-actions/src/destinations/angler-ai/saveUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

moved custom event name to saveBaseEvent
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/generated-types.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

updated tests
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/angler-ai/saveUser/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team
