Repository segmentio/action-destinations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team, @segmentio/libraries-web-team

update snapshot
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/index.test.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

update snapshot
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add {} if not valid consent
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

restore yarn.lock
  yarn.lock
Owners: none

yarn install
  yarn.lock
Owners: none

add validation for consent
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/errors.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
  packages/destination-actions/src/lib/test-data.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add consent for segment connections + profiles
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/subscription-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/errors.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
  packages/destination-actions/src/lib/test-data.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

initial evolv browser destination
  packages/browser-destinations/destinations/evolv-ai/README.md
  packages/browser-destinations/destinations/evolv-ai/package.json
  packages/browser-destinations/destinations/evolv-ai/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/evolv-ai/src/generated-types.ts
  packages/browser-destinations/destinations/evolv-ai/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/evolv-ai/src/identifyUser/generated-types.ts
  packages/browser-destinations/destinations/evolv-ai/src/identifyUser/index.ts
  packages/browser-destinations/destinations/evolv-ai/src/index.ts
  packages/browser-destinations/destinations/evolv-ai/src/init-script.ts
  packages/browser-destinations/destinations/evolv-ai/src/proxy.ts
  packages/browser-destinations/destinations/evolv-ai/src/trackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/evolv-ai/src/trackEvent/generated-types.ts
  packages/browser-destinations/destinations/evolv-ai/src/trackEvent/index.ts
  packages/browser-destinations/destinations/evolv-ai/src/types.ts
  packages/browser-destinations/destinations/evolv-ai/src/utility.ts
  packages/browser-destinations/destinations/evolv-ai/tsconfig.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

add field category type
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

add field category type (#2093)
  packages/core/src/destination-kit/types.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.114.0
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

updated snapshots
  packages/destination-actions/src/destinations/angler-ai/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveBaseEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCartEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCheckoutEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCollectionEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveCustomEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/angler-ai/saveSearchEvent/__tests__/__snapshots__/snapshot.test.ts.snap
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

remove unused import
  packages/destination-actions/src/destinations/angler-ai/saveProductEvent/transform-payload.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

[Amazon AMC] - Revamp Refresh Token Flow for createAudience and getAudience (#2090)
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.114.1
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

fix: using direct import to circumvent browser bundle size increase
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/__helpers__/test-utils.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-mobile-push.test.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-sms.test.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/PushSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendSms/SmsMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendWhatsApp/WhatsAppMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/PhoneMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/TwilioMessageSender.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

Revert "fix: using direct import to circumvent browser bundle size increase"
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/__helpers__/test-utils.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-mobile-push.test.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-sms.test.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/PushSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendSms/SmsMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendWhatsApp/WhatsAppMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/PhoneMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/TwilioMessageSender.ts
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

fix: bumped browser destination size limit
  packages/browser-destinations/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

add validation for consent
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/errors.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
  packages/destination-actions/src/lib/test-data.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

add {} if not valid consent
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.272.0-staging-3486a77e1
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Added conditional fields on role based field
  packages/destination-actions/src/destinations/intercom/identifyContact/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

clean up
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/subscription-properties.ts
  packages/destination-actions/src/destinations/segment/errors.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  yarn.lock
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

delete additionalProperties and unused error
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/subscription-properties.ts
  packages/destination-actions/src/destinations/segment/errors.ts
  packages/destination-actions/src/destinations/segment/segment-properties.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.272.0-staging-ef4af2602
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Update generate-types
  packages/destination-actions/src/destinations/google-analytics-4/addPaymentInfo/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/addToCart/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/addToWishlist/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/beginCheckout/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/purchase/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/refund/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/removeFromCart/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/selectItem/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/selectPromotion/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewCart/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewItem/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewItemList/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewPromotion/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

CONSENT-309: Ensure consent data is copied for Segment Connections + Profiles (#2070)
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/index.ts
  packages/destination-actions/src/destinations/segment-profiles/sendSubscription/subscription-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/sendTrack/index.ts
  packages/destination-actions/src/destinations/segment/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/segment-properties.ts
  packages/destination-actions/src/destinations/segment/sendGroup/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendGroup/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendGroup/index.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendIdentify/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendIdentify/index.ts
  packages/destination-actions/src/destinations/segment/sendPage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendPage/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendPage/index.ts
  packages/destination-actions/src/destinations/segment/sendScreen/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendScreen/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendScreen/index.ts
  packages/destination-actions/src/destinations/segment/sendTrack/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment/sendTrack/generated-types.ts
  packages/destination-actions/src/destinations/segment/sendTrack/index.ts
  packages/destination-actions/src/lib/test-data.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

GA4 - Cloud - Enabling button to add additional item params to product arrays (#2088)
  packages/destination-actions/src/destinations/google-analytics-4/addPaymentInfo/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/addToCart/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/addToWishlist/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/beginCheckout/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/ga4-properties.ts
  packages/destination-actions/src/destinations/google-analytics-4/purchase/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/refund/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/removeFromCart/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/selectItem/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/selectPromotion/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewCart/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewItem/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewItemList/generated-types.ts
  packages/destination-actions/src/destinations/google-analytics-4/viewPromotion/generated-types.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Feature(IDE-2251): creates authentication header and sample gql caller
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Feature(IDE-2251): creates authentication header and sample gql caller
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/postMessage/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

fixed default paths
  packages/destination-actions/src/destinations/angler-ai/saveFormEvent/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveOrder/index.ts
  packages/destination-actions/src/destinations/angler-ai/saveUser/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

yarn file
  yarn.lock
Owners: none

fix merge
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

v3.115.0-staging-ab6c736cd
  packages/core/package.json
Owners: @segmentio/build-experience-team, @segmentio/strategic-connections-team

v3.276.0-staging-ab6c736cd
  packages/destination-actions/package.json
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Add depends on condition in revenue field
  packages/destination-actions/src/destinations/amplitude/logPurchase/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

applied depends_on value on enableConsentMode field (#2080)
  packages/browser-destinations/destinations/google-campaign-manager/src/index.ts
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

[MAIN] [STRATCONN] Updated conditions for phone number format (#2075)
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

Publish
  packages/browser-destinations/destinations/google-campaign-manager/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Owners: @segmentio/libraries-web-team, @segmentio/strategic-connections-team, @segmentio/build-experience-team

[Segment Profiles] fix consent object in sendIdentify action
  packages/destination-actions/src/destinations/segment-profiles/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/segment-profiles/sendIdentify/index.ts
Owners: @segmentio/strategic-connections-team, @segmentio/build-experience-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence, these users

# will be requested for review when someone opens a pull request.

# Actions common lib folder

actions-shared/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# AJV utils

ajv-human-errors/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Browser destinations

browser-destinations/ @segmentio/libraries-web-team @segmentio/strategic-connections-team @segmentio/build-experience-team

# CLI private libs

cli-internal/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# CLI binary

cli/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Core actions runtime

core/ @segmentio/build-experience-team @segmentio/strategic-connections-team

# Destination definitions and their actions

destination-actions/ @segmentio/strategic-connections-team @segmentio/build-experience-team

# Utilities for event payload validation against an action's subscription AST.

destination-subscriptions/ @segmentio/build-experience-team @segmentio/strategic-connections-team
